* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 91px;
    padding: 30px 35px;
}

.nav-title {
    color: #61DAFB;
    font-weight: 700;
    margin-right: auto;
    margin-left: 13px;
}

.nav-item {
    color: #DEEBF8;
    font-weight: 600;
}

.main {
    padding: 57px 60px;
    background-image: url("./assets/reactjs-icon 2.png");
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main > h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 46px;
}

.main > ul > li {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding-block: 20px;
}

.main>ul>li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}